.song-container {
    // margin-left: 20rem;
    min-height: 60vh;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 25%;
        border-radius: 50%;
    }
    h2 {
        padding: 3rem 1rem 1rem 1rem;
    }
}