* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
}
.container {
    /* width: 100%;
    max-width: 1250px;
    margin: 0 auto; */
    margin-left: 20rem;
}
.app {
    margin: 0 auto;
}
h1, h2, h3 {
    color: rgb(100, 98, 98);
}